div.background {
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-size: 200% 200%;
	background-image: linear-gradient(-45deg, #eeaeca 0%, #94bbe9 100%);
	-webkit-animation: AnimateBG 10s ease infinite;
	animation: AnimateBG 10s ease infinite;
}

div.content-block {
	// Center div
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);


	margin: auto;
	width: 90%;
	height: 90%;
	font: Ariel !important;
	background-color: white;
	border-radius: 1em;
	padding: 1em;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 0.2fr 1.8fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"header"
		"content";
	
	.header {
		grid-area: header;
		.row {
			height: 100%;
			width: 75%;
	
			display: flex;
			gap: 16px;
			flex-direction: row;
			align-items: center;
			margin: auto;
	
			a {
				flex: 1;
				div {
					font-size: 3em !important;
					text-align: center;
					color: black;
				}
			}
		}
	}
	
	.content {
		grid-area: content;
	}
}
