header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;

	@media screen and (max-width: 1201px) {
		margin: 1.5em 2em 0em 2em;
	}

	.player {
		display: flex;
		justify-content: space-between;
		height: 70px;

		.avatar {
			width: 70px;
			height: 70px;
			border-radius: 100%;
		}

		.name {
			height: 2em;
		}

		.stats {
			height: 2em;
			display: flex;
			justify-content: space-between;
			flex-direction: row;

			.stat {
				margin: 0 5px 0 0;
			}
		}
	}

	.score {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 6em;
		line-height: 1em;
		font-weight: 500;
		color: $color-primary;
		margin: 0;
		width: 25%;
	}
}